<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720502254337-49g9e7gl5qehmntmmgd8snhnkjir3ls7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720502254337-49g9e7gl5qehmntmmgd8snhnkjir3ls7</string>
	<key>API_KEY</key>
	<string>AIzaSyA30VJugFetkgE9wTm1RbWj76cU-g-tgUs</string>
	<key>GCM_SENDER_ID</key>
	<string>720502254337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>ballotbox-93d61</string>
	<key>STORAGE_BUCKET</key>
	<string>ballotbox-93d61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720502254337:ios:7092a35825a32f99e2c900</string>
</dict>
</plist>